/*
*  按钮样式
 */
@import './variables.scss';

@mixin colorBtn($color) {
  background: $color;
}

//按钮颜色
.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.regit-btn {
  border-radius: 4px;
  border: none;
  outline: none;
  text-align: center;
  color: #ffffff;
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 36px;

  &.exit-btn {
    border: solid 1px #cccccc;
    color: #666666;
    background: white;
  }

  &.del-btn {
    border: solid 1px #ff0000;
    color: #ff0000;
    background: white;
  }

  &.el-button {
    padding: 0;
  }
}

//按钮组
.button-group {
  button {
    margin: 0 10px;
  }
}

.el-message-box {
  .el-message-box__btns {
    .el-button {
      min-width: 100px !important;
      overflow: hidden !important;
      height: 36px !important;
    }
  }
}

.el-message-box__btns {
  .el-button--primary {
    background-color: #009F3A !important;
    border-color: #009F3A !important;
    &:focus {
      background-color: #009F3A !important;
      border-color: #009F3A !important;
    }
    &:hover {
      background-color: #009F3A !important;
      border-color: #009F3A !important;
    }
  }

  .el-button {
    i {
      font-size: 16px;
    }

    span {
      // font-size: 14px;
      font-size: 16px;
    }
  }
}

.button-close {
  &:hover {
    background: #adadad;
    color: white;
    border: 1px solid #adadad;
  }

  &:focus {
    background: #adadad;
    color: white;
    border: 1px solid #adadad;
  }
}

.el-button--primary {
  min-width: 100px;
  line-height: 36px;
  overflow: hidden;
  height: 36px;
  padding: 0 9px;
  margin-left: 8px !important;
  background-color: #009F3A;
  border-color: #009F3A;
  &:focus {
    background-color: #009F3A !important;
    border-color: #009F3A !important;
  }
  &:hover {
    background-color: #009F3A;
    border-color: #009F3A;
    opacity: 0.8;
  }

  .iconfont {
    margin-right: 3px;
    position: relative;
    font-size: 16px;
  }

  &.is-disabled {
    opacity: 0.6;
    background: #009F3A !important;
    color: #ffffff !important;
    border: 1px solid #009F3A;
  }

  &.urgent {
    top: 1px;
    background: #adadad !important;
    color: white !important;
    border: 1px solid #adadad !important;

    &.is-disabled {
      opacity: 0.6;

      &:hover {
        background: #999999 !important;
        color: white !important;
        border: 1px solid #adadad !important;
      }
    }

    &:hover {
      background: #999999 !important;
      color: white !important;
    }
  }

  &.other {
    top: 0;
    background: #ffffff;
    color: #ff4a4a;
    border: 1px solid #ff4a4a;

    &.is-disabled {
      opacity: 0.6;
      background: #ffffff !important;
      color: #ff4a4a !important;
      border: 1px solid #ff4a4a !important;
      &:hover {
        background: #ffffff !important;
        color: #ff4a4a !important;
        border: 1px solid #ff4a4a;
      }
    }

    &:hover {
      background: #ff4a4a;
      color: #ffffff;
      border: 1px solid #ff4a4a;
    }
  }

  &.gray {
    top: 0;
    background: white;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);

    &.is-disabled {
      opacity: 0.6;

      &:hover {
        background: white !important;
        color: rgba(0, 0, 0, 0.5) !important;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    &:hover {
      background: white;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &.more {
    top: 1px;
    background: white !important;
    color: #009F3A !important;
    border: 1px solid #009F3A !important;

    &:hover {
      color: white !important;
      background-color: #009F3A !important;
      border-color: #009F3A !important;
      opacity: 0.8;
    }

    &.is-disabled {
      opacity: 0.6;

      &:hover {
        background: white !important;
        border: 1px solid #009F3A !important;
        color: #009F3A !important;
        opacity: 0.6;
      }
    }
  }
}

.el-button {
  i {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }
}

.el-table {
  .el-button {
    i {
      font-size: 16px;
    }

    // span{
    //   font-size: 12px !important;
    // }
  }
}

//搜索
.search_cons,
.userTitle,
.header-search {
  .el-col-3 {
    .iconfont {
      margin-right: 3px;
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }

  .el-button{
    min-width: 100px;
    padding: 0 9px;
    line-height: 36px;
    overflow: hidden;
    height: 36px;
    &.search {
      background: #009F3A;
      color: white;
      border: 1px solid #009F3A;
      &:hover {
        background: #009F3A;
        color: white;
        opacity: 0.8;
      }
      &.is-disabled{
        opacity: 0.6;
        &:hover {
          opacity: 0.2;
          background: #009F3A !important;
          border: 1px solid #009F3A;
          color: white !important;
        }
      }
    }
    &.more {
      background: white;
      color: #009F3A;
      border: 1px solid #009F3A;
      &:hover {
        background: #009F3A;
        color: white;
        opacity: 0.8;
      }
      &.is-disabled{
        opacity: 0.6;
        &:hover {
          border: 1px solid #009F3A;
          background: white !important;
          color: #009F3A !important;
        }
      }
    }
  }
}

.search_cons_btn {
  margin-top: 5px;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.el-button--text {
  color: #009F3A;
  &:hover {
    color: #40bb5a;
    opacity: 0.6;
  }
  &.danger {
    color: #ff4a4a;

    &.is-disabled {
      color: #C0C4CC !important;
    }
  }

  &.warning {
    color: #ffa13a;

    &.is-disabled {
      color: #C0C4CC !important;
    }
  }

  &.success {
    color: #40bb5a;

    &.is-disabled {
      color: #C0C4CC !important;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #eeeeee;
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog-operationFormWrap{
  margin: 20px 30px;
  width: calc(100% - 60px);
  height: calc(100% - 80px);
  box-sizing: border-box;
  position: relative;
}