/*
*  字体样式
 */
.el-table,
.el-form-item__content {
  .iconfont {
    font-size: 14px;
  }
}

.el-input__icon {
  line-height: 36px !important;
}

.el-input--small .el-input__inner {
  line-height: 36px !important;
  height: 36px !important;
}

.el-form-item__content {
  line-height: 34px !important;
}

.error {
  color: #ff4a4a;
}

// 状态区分
.statusFont {
  font-size: 14px;
  color: #333;
  width: 100%;
  padding: 2px 10px;

  &.success {
    color: #40bb5a;
    background-color: rgba(36, 181, 104, 0.2);
  }

  &.info {
    color: #999999;
    background-color: rgba(153, 153, 153, 0.2);
  }

  &.warning {
    color: #ffa13a;
    background-color: rgba(245, 94, 20, 0.2);
  }

  &.primary {
    color: #009F3A;
    background-color: rgba(43, 116, 236, 0.2);
  }

  &.0 {
    color: #999999;
    background-color: rgba(153, 153, 153, 0.2);
  }

  &.01 {
    color: #009F3A;
    background-color: rgba(43, 116, 236, 0.2);
  }

  &.02 {
    color: #40bb5a;
    background-color: rgba(36, 181, 104, 0.2);
  }
}

// 审批状态
.flowStatus {
  font-size: 16px;
  width: 100%;
  padding: 2px 10px;

  &.flowStatus0 {
    color: #ff4a4a;
    background-color: rgba(247, 53, 53, 0.2);
  }

  &.flowStatus01 {
    color: #409eff;
    background-color: rgba(43, 116, 236, 0.2);
  }

  &.flowStatus02 {
    color: #40bb5a;
    background-color: rgba(36, 181, 104, 0.2);
  }
}

// 状态
.status {
  font-size: 16px;
  width: 100%;
  padding: 2px 10px;

  &.status0 {
    color: #40bb5a;
    background-color: rgba(36, 181, 104, 0.2);
  }

  &.status1 {
    color: #ff4a4a;
    background-color: rgba(247, 53, 53, 0.2);
  }
}


.whether {
  font-size: 14px;
  width: 100%;
  padding: 2px 10px;

  &.status1 {
    color: #40bb5a;
    background-color: rgba(36, 181, 104, 0.2);
  }

  &.status0 {
    color: #ff4a4a;
    background-color: rgba(247, 53, 53, 0.2);
  }
}

//小号字体
.smallFont {
  // font-size: 12px;
  font-size: 14px;
  color: #333;

  &.grey {
    color: #666666;
  }

  &.light-grey {
    color: #999999;
  }

  &.set {
    color: #009F3A;
    cursor: pointer !important;
  }

  &.disabled {
    color: #999999;
    cursor: not-allowed;
  }

  &.warning {
    color: #ffa13a
  }

  &.error {
    color: #ff4a4a;
  }
}

//中号字体
.midFont {
  // font-size: 14px;
  font-size: 16px;
  color: #333;

  &.grey {
    color: #666666;
  }

  &.light-grey {
    color: #999999;
  }

  &.set {
    color: #009F3A;
    cursor: pointer !important;
  }

  &.info {
    color: #606266
  }

  &.warning {
    color: #ffa13a
  }

  &.error {
    color: #ff4a4a;
  }
}

.table-remarks {
  cursor: pointer;
  line-height: 32px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//大号字体
.large {
  font-size: 16px;
  color: #333;

  &.grey {
    color: #666666;
  }

  &.light-grey {
    color: #999999;
  }

  &.set {
    color: #009F3A;
    cursor: pointer !important;
  }
  &.error {
    color: #ff4a4a;
  }
}

//对话框字体样式
.dialogFont {
  font-weight: normal;
  font-size: 18px;
  color: #333;

  &.grey {
    color: #666666;
  }

  &.light-grey {
    color: #999999;
  }
}

//logo  字体
.logoFont {
  font-size: 20px;
  color: white;
  font-weight: 600;

  &.black {
    color: #666666;
    font-weight: 400;
  }

  &.grey {
    color: #666666;
  }

  &.light-grey {
    color: #999999;
  }
}

//操作成功字体
.setSuccessFont {
  font-size: 24px;
  font-weight: normal;
  color: #333;

  &.grey {
    color: #666666;
  }

  &.light-grey {
    color: #999999;
  }
}

.hide {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.color-gongsiyewu {
  color: #009F3A;
}

.color-home {
  color: #009F3A;
  margin-right: 7px;
}

.color-bumen {
  color: #00b38a;
}

// 注意
.be-careful {
  font-size: 16px;
  color: #009F3A;
}

.el-pagination {
  padding: 2px 10px;
}

// 分页字体
.el-pagination button,
.el-pagination span {
  font-size: 14px !important;
}

.el-pager li {
  font-size: 14px;
  &:not(.disabled).active {
    background: #009F3A!important;
  }
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #009F3A!important;
}
.el-select-dropdown__item.selected {
  color: #009F3A!important;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: #009F3A!important;
  &:hover {
    border-color: #009F3A!important;
  }
}
.el-pagination__sizes {
  .el-input {
    .el-input__inner:hover {
      border-color: #009F3A!important;
    }
  }
}
.el-select {
  .el-input__inner:focus {
    border-color: #009F3A!important;
  }
}
// 表格字体 行高
.el-table--small {
  font-size: 14px;
}

.el-table .cell {
  height: 23px;
  color: #333333;
  font-size: 16px;
  font-weight: 500;

}

// 文本框字体
.el-form-item .el-textarea__inner {
  font-family: PingFangSC-Medium;
  padding: 0;
  // min-height: 36px !important;
  // height: 36px !important;
}

.el-textarea .el-input__count {
  bottom: 0 !important;
}

.el-textarea.is-disabled .el-textarea__inner {
  background-color: transparent;
  color: gray;
}

// .el-popover{
//   padding: 0 !important;
// }
// 超出隐藏
.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialog-pages {
  text-align: right;
  margin-top: 10px;
}

.el-table .error-active {
  color: #ff4a4a !important;

  .el-input__inner {
    color: #ff4a4a !important;
  }

  .el-textarea__inner {
    color: #ff4a4a !important;
  }
}