// 查询页面样式
.generalPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  .roleCons {
    height: 100%;
    flex: auto;
    .content {
      height: 100%;
      .cons {
        height: 100%;
        display: flex;
        flex-direction: column;
        .search_cons {
          background: white;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
          padding: 12px 12px 4px 12px;
          .el-row {
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
          .el-row .el-col {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }
        .table_cons {
          flex: 1;
          width: 100%;
          position: relative;
          .table_cons_table {
            height: calc(100% - 5px);;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            padding-top: 10px;
            background-color: #fff;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
            box-sizing: border-box;
            position: relative;
            .table_btn {
              padding: 0 10px;
              position: relative;
              text-align: right;
              margin-bottom: 10px;
              height: 40px;
              .btn_tips{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
              }
            }
            // .slot_btn{
            //   display: flex;
            //   float: right;
            // }
            .table_content {
              // height: calc(100% - 1px);
              flex: 1;
              border-bottom: none;
              padding: 0 10px 10px 10px;
              box-sizing: border-box;
            }
            .table_pages {
              text-align: right;
              margin: 5px 0;
              height: 32px;
            }
            .table-fixed-content {
              width: 100%;
              height: 100%;
              position: relative;
              .fixed {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
