.page-edit {
    height: 100%;
    display: flex;
    flex-direction: column;
    .roleCons {
      height: 100%;
      flex: auto;
      display: flex;
      flex-direction: column;
      .content {
        flex: auto;
        height: 100%;
        background: white;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        .cons {
          width: calc(100%);
          height: 100%;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          padding: 0 12px 12px;
          overflow-y: auto;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
}