.businessWrap {
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    .main_title {
      // min-height: 40px !important;
      // max-height: 40px !important;
      flex: 0 0 40px !important;
      line-height: 40px;
      padding: 0 10px;
      padding-bottom: 10px;
      background: white;
      text-align: right;
      //box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      .addTitle {
        float: right;
        display: flex;
      }
    }
    .rolCons {
      width: 100%;
      height: 100%;
      flex: auto;
      display: flex;
      //box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    }
    .businessCons {
      /*flex: 1;*/
      /*background: pink;*/
      background: white;
      padding-bottom: 10px;
      position: relative;
      &:nth-child(2){
        margin-left: 10px;
      }
      .businessCons_fix {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0px;
        padding: 0 5px 0px 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        overflow-y: auto;
        border: 1px solid #ebeef5;
        background-color: #fff;
        &::-webkit-scrollbar {
          display: none;
        }
        .contents {
          height: 100%;
          width: 100%;
          .title {
            height:40px;
            line-height:40px;
            border-bottom: 1px solid lightgray;
            padding: 0 5px;
            p {
              font-size: 14px;
            }
            button {
              float: right;
              margin-top: 2px;
            }
          }
          /*padding: 10px 0;*/
          .printForm {
            h4 {
              line-height: 32px;
              text-indent: 5px;
              color: #333333;
              font-weight: bold;
              span {
                margin-left: 8px;
                color: #999999;
                font-weight: normal;
                font-size: 14px;
                &.add {
                  width: 28px;
                  height: 28px;
                  vertical-align: middle;
                  border-radius: 50%;
                  text-align: center;
                  background: #0c82f0;
                  cursor: pointer;
                }
                i {
                  font-size: 12px;
                  color: white;
                  position: relative;
                  left: -3px;
                  /*top: 2px;*/
                }
              }
            }
            ul {
              overflow: hidden;
              li {
                margin: 5px 0;
                padding-left: 30px;
              }
            }
          }
          &.cons-info {
            /*padding-top: 10px;*/
            .print-content {
              width: 100%;
              padding: 0px 1%;
              margin: 10px 0;
              border: 1px solid #ebeef5;
              box-sizing: border-box;
              position: relative;
              h4{
                line-height: 32px;
              }
              .print-cons{
                position: relative;
              }
            }
          }
          .tableCons {
            width: 100%;
            padding: 0 1%;
            margin: 20px 0;
            position: relative;
            /*height: 100px;*/
            overflow: hidden;
            box-sizing: border-box;
            max-width: 100%;
            background-color: #fff;
            font-size: 14px;
            color: #606266;
            p {
              font-weight: bold;
              text-indent: 5px;
              line-height: 32px;
              border: 1px solid #eeeeee;
              border-bottom: 0;
            }
            .captionTitle{
              line-height: 32px;
            }
            thead{
              td{
                border: 1px solid rgb(51, 51, 51)
              }
            }
            .table-footer {
              padding: 0 30px;
            }
            .table-footer h3 {
              width: 33%;
              text-align: left;
              line-height: 50px;
              font-size: 14px;
              font-weight: bold;
              text-indent: 10px;
              float: left;
              span{
                font-size: 14px;
                font-weight: normal;
              }
            }
            /*overflow-x: auto;*/
          }
        }
      }
    }
  }
  